HELP.md
.gradle
target/*

.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

.DS_Store

.svn
src/main/webapp/.vscode/
src/main/webapp/node_modules/
src/main/webapp/package-lock.json
src/main/webapp/package.json
src/main/webapp/gulpfile.js
.vscode/
src/main/webapp/.vscode/
node_modules/
package-lock.json
gulpfile.js
*.css.map
*.map
.history/
src/main/webapp/history/
*/.history


일러/*
portfolio25.git/*
portfolio25.git.bfg-report/*
project - 복사본/
