svg {
    .a {
        fill: #bdbac0
    }
    .b {
        fill: #d2cfd6
    }
    .c {
        fill: #404040;
        stroke: #404040;
        stroke-linejoin: round;
        stroke-width: 24;
    }
    .d {
        fill: #f0f0f2
    }
    .e {
        fill: #bdbecd
    }
    .f {
        fill: #cbbdcd
    }
    .g {
        fill: #9d97d3
    }
    .h {
        fill: #aaccc8
    }
    .i {
        fill: #404040
    }
    .j {
        fill: #f48462
    }
    .k {
        fill: #ffba57
    }
    .l {
        fill: #62a39b
    }
    .m {
        fill: #5d2866
    }
    .n {
        fill: #fff
    }
    .o {
        fill: #0c8077
    }
    .p {
        fill: #fcaf49
    }
    .q {
        fill: #a76ea8
    }
    .r {
        fill: #fc8a5e
    }
    .s {
        fill: #3b3b3b
    }
    .t {
        fill: #898989
    }
    .u {
        fill: #9bccc7
    }
    .v {
        fill: #ffeeeb
    }
    .w {
        fill: #3f9e97
    }
    .x {
        fill: #a76fa8
    }
    .y {
        fill: #286c7c
    }
}


/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 14px 30px 10px;
    // background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(4px);
    box-sizing: border-box;
    z-index: 10;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1600px;
        width: 100%;
    }
}
.logo {
    width: 114px;
    svg {
        aspect-ratio: 269/115;
        .s0 { fill: #774069; transition: 0.2s; } 
        .s1 { fill: #f5eef4; transition: 0.2s;}
        .line { 
            path {
                transition: 0.4s;
                stroke-dasharray: 500;
                stroke-dashoffset: 500;
                animation: line 1s linear forwards;
                animation-delay: 1.4s;
            }
        } 
        .circle {
            .s0 {
                opacity: 0;
                d: path("m257 -30.8h-1.5l-.3-.3h-.8l-.3-.3h-.6l-.3-.3h-.3l-.3-.3h-.3l-2-2.1v-.3l-.3-.3v-.2l-.3-.3v-.3l-.3-.3v-.9l-.3-.3v-2l.3-.3v-1.5l.3-.3v-.6l.3-.3v-.3l.3-.3v-.3l2.3-2.3h.3l.3-.3h.3l.3-.3h.3l.3-.3h1.7l.3-.3h.6l.3.3h1.2l.3.3h.2l.3.3h.3l.3.3h.3l2.4 2.3v.3l.3.3v.3l.2.3v.3l.3.3v.9l.3.3v2.9l-.3.3v.9l-.3.3v.3l-.2.3v.2l-.3.3v.3l-2.1 2.1h-.3l-.3.3h-.6l-.3.3h-.2l-.3.3h-1.2z");
                animation: bounce 1s cubic-bezier(.72,.47,.09,.9) forwards;
                animation-delay: 2s;
            }
        }
    }
}
@keyframes bounce {
    25% {
        opacity: 1;
        d: path("m257 34.8h-1.5l-.3-.3h-.8l-.3-.3h-.6l-.3-.3h-.3l-.3-.3h-.3l-2-2.1v-.3l-.3-.3v-.2l-.3-.3v-.3l-.3-.3v-.9l-.3-.3v-2l.3-.3v-1.5l.3-.3v-.6l.3-.3v-.3l.3-.3v-.3l2.3-2.3h.3l.3-.3h.3l.3-.3h.3l.3-.3h1.7l.3-.3h.6l.3.3h1.2l.3.3h.2l.3.3h.3l.3.3h.3l2.4 2.3v.3l.3.3v.3l.2.3v.3l.3.3v.9l.3.3v2.9l-.3.3v.9l-.3.3v.3l-.2.3v.2l-.3.3v.3l-2.1 2.1h-.3l-.3.3h-.6l-.3.3h-.2l-.3.3h-1.2z");
    }
    40% {
        opacity: 1;
        d: path("m257 8.8h-1.5l-.3-.3h-.8l-.3-.3h-.6l-.3-.3h-.3l-.3-.3h-.3l-2-2.1v-.3l-.3-.3v-.2l-.3-.3v-.3l-.3-.3v-.9l-.3-.3v-2l.3-.3v-1.5l.3-.3v-.6l.3-.3v-.3l.3-.3v-.3l2.3-2.3h.3l.3-.3h.3l.3-.3h.3l.3-.3h1.7l.3-.3h.6l.3.3h1.2l.3.3h.2l.3.3h.3l.3.3h.3l2.4 2.3v.3l.3.3v.3l.2.3v.3l.3.3v.9l.3.3v2.9l-.3.3v.9l-.3.3v.3l-.2.3v.2l-.3.3v.3l-2.1 2.1h-.3l-.3.3h-.6l-.3.3h-.2l-.3.3h-1.2z");
    }
    50% {
        opacity: 1;
        d: path("m257 32.8h-1.5l-.3-.3h-.8l-.3-.3h-.6l-.3-.3h-.3l-.3-.3h-.3l-2-2.1v-.3l-.3-.3v-.2l-.3-.3v-.3l-.3-.3v-.9l-.3-.3v-2l.3-.3v-1.5l.3-.3v-.6l.3-.3v-.3l.3-.3v-.3l2.3-2.3h.3l.3-.3h.3l.3-.3h.3l.3-.3h1.7l.3-.3h.6l.3.3h1.2l.3.3h.2l.3.3h.3l.3.3h.3l2.4 2.3v.3l.3.3v.3l.2.3v.3l.3.3v.9l.3.3v2.9l-.3.3v.9l-.3.3v.3l-.2.3v.2l-.3.3v.3l-2.1 2.1h-.3l-.3.3h-.6l-.3.3h-.2l-.3.3h-1.2z");
    }
    60% {
        opacity: 1;
        d: path("m257 18.8h-1.5l-.3-.3h-.8l-.3-.3h-.6l-.3-.3h-.3l-.3-.3h-.3l-2-2.1v-.3l-.3-.3v-.2l-.3-.3v-.3l-.3-.3v-.9l-.3-.3v-2l.3-.3v-1.5l.3-.3v-.6l.3-.3v-.3l.3-.3v-.3l2.3-2.3h.3l.3-.3h.3l.3-.3h.3l.3-.3h1.7l.3-.3h.6l.3.3h1.2l.3.3h.2l.3.3h.3l.3.3h.3l2.4 2.3v.3l.3.3v.3l.2.3v.3l.3.3v.9l.3.3v2.9l-.3.3v.9l-.3.3v.3l-.2.3v.2l-.3.3v.3l-2.1 2.1h-.3l-.3.3h-.6l-.3.3h-.2l-.3.3h-1.2z");
    }
    70% {
        opacity: 1;
        d: path("m257 32.8h-1.5l-.3-.3h-.8l-.3-.3h-.6l-.3-.3h-.3l-.3-.3h-.3l-2-2.1v-.3l-.3-.3v-.2l-.3-.3v-.3l-.3-.3v-.9l-.3-.3v-2l.3-.3v-1.5l.3-.3v-.6l.3-.3v-.3l.3-.3v-.3l2.3-2.3h.3l.3-.3h.3l.3-.3h.3l.3-.3h1.7l.3-.3h.6l.3.3h1.2l.3.3h.2l.3.3h.3l.3.3h.3l2.4 2.3v.3l.3.3v.3l.2.3v.3l.3.3v.9l.3.3v2.9l-.3.3v.9l-.3.3v.3l-.2.3v.2l-.3.3v.3l-2.1 2.1h-.3l-.3.3h-.6l-.3.3h-.2l-.3.3h-1.2z");
    }
    90% {
        opacity: 1;
        d: path("m257 24.8h-1.5l-.3-.3h-.8l-.3-.3h-.6l-.3-.3h-.3l-.3-.3h-.3l-2-2.1v-.3l-.3-.3v-.2l-.3-.3v-.3l-.3-.3v-.9l-.3-.3v-2l.3-.3v-1.5l.3-.3v-.6l.3-.3v-.3l.3-.3v-.3l2.3-2.3h.3l.3-.3h.3l.3-.3h.3l.3-.3h1.7l.3-.3h.6l.3.3h1.2l.3.3h.2l.3.3h.3l.3.3h.3l2.4 2.3v.3l.3.3v.3l.2.3v.3l.3.3v.9l.3.3v2.9l-.3.3v.9l-.3.3v.3l-.2.3v.2l-.3.3v.3l-2.1 2.1h-.3l-.3.3h-.6l-.3.3h-.2l-.3.3h-1.2z");
    }
    95% {
        opacity: 1;
        d: path("m257 32.8h-1.5l-.3-.3h-.8l-.3-.3h-.6l-.3-.3h-.3l-.3-.3h-.3l-2-2.1v-.3l-.3-.3v-.2l-.3-.3v-.3l-.3-.3v-.9l-.3-.3v-2l.3-.3v-1.5l.3-.3v-.6l.3-.3v-.3l.3-.3v-.3l2.3-2.3h.3l.3-.3h.3l.3-.3h.3l.3-.3h1.7l.3-.3h.6l.3.3h1.2l.3.3h.2l.3.3h.3l.3.3h.3l2.4 2.3v.3l.3.3v.3l.2.3v.3l.3.3v.9l.3.3v2.9l-.3.3v.9l-.3.3v.3l-.2.3v.2l-.3.3v.3l-2.1 2.1h-.3l-.3.3h-.6l-.3.3h-.2l-.3.3h-1.2z");
    }
    100%  {
        opacity: 1;
      d: path("m257 34.8h-1.5l-0.3-0.3h-0.8l-0.3-0.3h-0.6l-0.3-0.3h-0.3l-0.3-0.3h-0.3l-2-2.1v-0.3l-0.3-0.3v-0.2l-0.3-0.3v-0.3l-0.3-0.3v-0.9l-0.3-0.3v-2l0.3-0.3v-1.5l0.3-0.3v-0.6l0.3-0.3v-0.3l0.3-0.3v-0.3l2.3-2.3h0.3l0.3-0.3h0.3l0.3-0.3h0.3l0.3-0.3h1.7l0.3-0.3h0.6l0.3 0.3h1.2l0.3 0.3h0.2l0.3 0.3h0.3l0.3 0.3h0.3l2.4 2.3v0.3l0.3 0.3v0.3l0.2 0.3v0.3l0.3 0.3v0.9l0.3 0.3v2.9l-0.3 0.3v0.9l-0.3 0.3v0.3l-0.2 0.3v0.2l-0.3 0.3v0.3l-2.1 2.1h-0.3l-0.3 0.3h-0.6l-0.3 0.3h-0.2l-0.3 0.3h-1.2z");
    }
}

.gnb {
    ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0 32px;
        li {
            opacity: 0.36;
            &.on {
                opacity: 1 !important;
                &::before,
                &::after {
                    opacity: 1;    
                }
            }
        }
        &:hover {
            //opacity: 0.36;
            li {
                opacity: 0.36;
                &:hover {
                    opacity: 1;
                    // &::before,
                    // &::after {
                    //     opacity: 1;    
                    // }
                }
            }
        }
    }

    li {
        position: relative;
        transition: all cubic-bezier(.4, 0, .2, 1) .4s;
        font-size: 16px;
        font-family: "Mozilla Headline", sans-serif;
        font-weight: 600;
        color: var(--black);
        letter-spacing: -0.2px;
        &::before,
        &::after {
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            letter-spacing: -2px;
            font-weight: 100;
            font-size: 18px;
            opacity: 0;
        }
        &::before {
            content: '{';
            left: -10px - 2px;
            
        }
        &::after {
            content: '}';
            right: -10px;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 12px 20px 10px;
        background: rgba(255, 255, 255, 0.26);
        .container {
            flex-direction: column;
        }
    }
    .logo {
        width: 86px;
        margin-bottom: 16px;
    }
    .gnb {
        ul {
            gap: 0 28px;
        }
        li {
            font-size: 15px;
            &::before  {
                left: -8px;              
            }
            &::after  {
                right: -6px;
            }
        }
    }
}

