/* footer */ 
.footer {
    position: relative;
    z-index: 2;
    width: 100%;
    max-height: 400px;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url("/portfolio26/static/images/bg-pattern.png");
        z-index: -1;
        opacity: 0.06;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        max-height: 400px;
        z-index: -1;
    }
    .txt {
        padding: 160px 0 60px;
        text-align: center;
        p {
            line-height: 1.8;
            font-size: 28px;
            font-family: "Recipekorea";
            text-align: center;
            color: #fff;
            // background: linear-gradient(to bottom, #fba932, transparent);
            // -webkit-background-clip: text;
        }
        .email {
            position: relative;
            display: inline-flex;
            line-height: 1;
            font-size: 18px;
            font-family: "SUIT Variable";
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-top: 32px;
            color: rgba(248, 247, 253, 0.8);
            &::before {
                content: "";
                display: block;
                position: absolute;
                left: 30px;
                bottom: -6px;
                width: 55%;
                height: 2px;
                background: #FFBA57;
            }
        }
    }
    .copyright {
        position: relative;
        width: 100%;
        padding: 16px 0;
        font-size: 14px;
        text-align: center;
        color: #fff;
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(255,255,255,.12);
        }
    }
    #footer-img {
        height: 100%;
        width: 100%;
        display: block;
        overflow: visible;
    }
    
    #center{
        visibility: hidden;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        max-height: none;
        .txt {
            padding: 60px 10px 40px;
            p {
                font-size: 20px;
                line-height: 1.54;
            }
            .email {
                font-size: 15px;
            }
        }
        #footer-img {
            max-height: none;
        }
    }
}

