/* modal */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    //padding: 50px;
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    z-index: 15;
    display: none;
    .screen {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 17px 17px 31px 21px;
        > div {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #FFF;
            padding: 30px;
            overflow-y: auto;
            overflow-x: hidden;
            z-index: 4;
        }
        .b-close {
            position: fixed;
            width: 40px;
            height: 40px;
            top: 40px;
            right: 40px;
            background-color: #fff;
            border-radius: 50%;
            background-image: url(/portfolio26/static/images/ico-close.png);
            background-size: contain;
            background-position: center center;
            z-index: 10;
        }
    }
    .base {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        span {
            position: absolute;
            background-size: 773px 120px;
            background-image: url(/portfolio26/static/images/view.png);
            background-repeat: no-repeat;
            overflow: hidden;
            z-index: 6;
            &.tl, &.tr, &.bl, &.br {
                width: 40px;
                height: 40px;
            } 
            &.tl {
                top: 0;
                left: 0;
                background-position: 0 0;
            }
            &.tr {
                top: 0;
                right: 0;
                background-position: -40px 0;
            }
            &.bl {
                bottom: 0;
                left: 1px;
                background-position: -80px 0;
            }
            &.br {
                bottom: 0;
                right: 0;
                background-position: -120px 0;
            }
            &.tbr {
                position: absolute;
                height: 40px;
                left: 40px;
                right: 40px;
                top: 0;
                background-position: 0 -40px;
                background-repeat: repeat-x;
            }
            &.bbr {
                position: absolute;
                height: 40px;
                left: 40px;
                right: 38px;
                bottom: 0;
                background-position: 0 -80px;
                background-repeat: repeat-x;
            }
            &.lbr {
                position: absolute;
                width: 40px;
                top: 38px;
                bottom: 36px;
                background-image: url(/portfolio26/static/images/view-sibe.png);
                background-position: 0 0;
                background-size: 80px 448px;
                background-repeat: repeat-y;
            }
            &.rbr {
                width: 40px;
                top: 38px;
                bottom: 38px;
                right: 0;
                background-image: url(/portfolio26/static/images/view-sibe.png);
                background-position: -40px 0;
                background-size: 80px 471px;
                background-repeat: repeat-y;
            }
        }
    }
    #projectList {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        max-width: 1200px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
    }
    .project-item {
        position: relative;
        width: 100%;
        max-width: 680px;
        height: calc(100vh - 60px);
        margin: 0 10px;
        transform: translateY(80%);
        transition: 0.2s;
        animation: view 0.21s linear forwards;
        &__head {
            padding: 16px 0;
            .ctgr {
                display: block;
                font-family: "SUIT Variable";
                font-size: 14px;
                font-weight: 500;
                color: #6e6e6e;
                padding-bottom: 2px;
            }
            .name {
                font-size: 28px;
                margin-bottom: 12px;
                color: var(--black);
                font-family: "Recipekorea";
            }
            .achievement {
                display: flex;
                gap: 8px;
                margin-top: 4px;
                flex-wrap: wrap;
                li {
                    font-size: 14px;
                    font-weight: 500;
                    padding: 6px 10px;
                    background: #e8ecef;
                    color: var(--desc);
                    border-radius: 4px;
                    line-height: 1;
                }
            }
            .summary {
                margin: 20px 0 8px;
                font-weight: 500;
                color: var(--black);
            }
            .skill-tag {
                margin-top: 12px;
                .tag {
                    background-color: #f0f0f0;
                    border: 1px solid #f0f0f0;
                }
            }
            .info {
                display: flex;
                margin-top: 16px;
                flex-wrap: wrap;
                gap: 2px 16px;
                > * {
                    font-size: 15px;
                    font-weight: 500;
                    color: var(--desc);
                }
                .date {
                    width: 100%;
                }
                .teamNum {
                    position: relative;
                    // color: #2e2e2e;
                    // font-size: 15px;
                    &::before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        right: -8px;
                        top: 50%;
                        width: 2px;
                        height: 14px;
                        background: rgba(0,0,0,0.08);
                        transform: translateY(-50%);

                    }
                }
            }
            .link {
                width: 100%;
                // margin-top: 32px;
            }
            .b-togo {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 8px 16px;
                margin-top: 24px;
                font-size: 14px;
                color: #f5eef4;
                background: #121921;
                border: 1px solid #121921;
                border-radius: 4px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
                gap: 4px;
                &:hover {
                    background-color: #fff;
                    border: 1px solid #121921;
                    color: #121921;
                }
            }
        }
        &__body {
            padding: 16px 0 0;
            .ctgr {
                font-size: 14px;
                font-weight: 500;
                color: #6e6e6e;
                padding-bottom: 2px;
            }
            .detail {
                display: flex;
                flex-direction: column;
                gap: 24px;
                .desc {
                    flex-direction: column;
                    li {
                        position: relative;
                        padding-left: 10px;
                        margin-bottom: 6px;
                        &::before {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            top: 9px;
                            width: 3px;
                            height: 3px;
                            background: var(--desc);
                            border-radius: 50%;
                            margin-right: 8px;
                        }
                    }
                }
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    border: 1px solid #efefef;
                }
            }
        }
        
    }
}


@media screen and (max-width: 1200px) {
    .modal {
        #projectList {
            width: calc(100% - 20px);
        }
    }
}

@media screen and (max-width: 768px) {
    .modal {
        .screen {
            > div {
                padding: 16px;
            }
            .b-close {
                top: 24px;
                right: 24px;
            }
        }
        .project-item {
            &__head {
                .name {
                    font-size: 20px;
                }
                .info {
                    gap: 4px 16px;
                    * {
                        &:not(:last-of-type) {
                            &::before {
                                content: "";
                                display: inline-block;
                                position: absolute;
                                left: initial !important;
                                right: -8px !important;
                                top: 50%;
                                width: 2px;
                                height: 14px;
                                background: rgba(0, 0, 0, 0.08);
                                transform: translateY(-50%);
                            }
                        }
                        &:last-of-type {
                            &::before {
                                display: none;
                            }
                        }
                    }
                  
                }
            }
        }
    }
}

